.bundle
.DS_Store
coverage/*
log/*.log
db/*
tmp/**/*
tmp/*
doc/api
doc/app
config/database.yml
config/local_env.yml
.bundle
coverage/*
nbproject/*
*.swp
public/assets/*
.secret
public/uploads/*
.env

public/packs
public/packs-test

config/master.key
config/credentials.yml.enc
db/schema.rb
private


/app/assets/builds/*
!/app/assets/builds/.keep

log/
.cursor
