.bundle
.DS_Store
coverage/*
log/*.log
db/*.db
db/*.sqlite3
db/test.sqlite3-journal
db/schema.rb
tmp/**/*
tmp/*
doc/api
doc/app
config/database.yml
.bundle
coverage/*
nbproject/*
rcov/*
webrat.log
*.swp
