<script type="text/javascript">

  // Load the Visualization API and the annotated timeline package.
  google.load('visualization', '1', {'packages':['annotatedtimeline']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

  // Create our data table.
  var data = new google.visualization.DataTable();
    <%= google_chart_script_helper(sample.previous_measurements, @analytes) %>

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('my_chart_div_<%=sample.id%>'));
    chart.draw(data, {displayAnnotations: false});
  }
</script>

<!--Div that will hold the google chart-->
<div id="my_chart_div_<%=sample.id%>" style="width:800px; height:400px"></div>