<h1>CN Runs</h1>
<table>
  <tr>
    <th>Run Date</th>
    <th>Sample Date</th>
    <th>Sample Date Range</th>
    <th>Name</th>
    <th>Approved/Size</th>
  </tr>
<%= render :partial => 'run', :collection => @runs %>
</table>
<%= link_to "new", new_run_path %>
<%= link_to "Other runs", runs_path %>
