<h1>Runs</h1>
<table class='table'>
  <tr>
    <th>Run Date</th>
    <th>Sample Date</th>
    <th>Sample Date Range</th>
    <th>Name</th>
    <th>Approved/Size</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Comment</th>
  </tr>
  
  <%= render @runs %>
</table>
<%= link_to "new", new_run_path %>
<%= link_to "CN runs", cn_runs_path %>
<%= link_to "Studies and Plots", studies_path %>
