td {
	text-align:right;
	border-color: green;
  width: 9em;
}

.even {
	background-color: #f7ffe9;
}

.even td td {
  border-style: none;
}

tr:hover {
  background-color: #FCF;
}


.odd td td {
  border-style: none;
}

.approved {
  background-color: chartreuse;
}

.notapproved {
  background-color: yellow;
}

.cv-high-true {
	background-color: red;
}

a:visited {
	color: blue;
}

a.deleted-true:hover {
	text-decoration: underline;
}

.deleted-true  {
	text-decoration: line-through;
}

#spinner {
	position: fixed;
	top: 20px;
	right: 20px;
}

ul {
	list-style-type: none;
}

.updated-true {
	color: silver;
}
.run_errors {
  color: red;
}
