<h1>Login</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :openid_identifier %><br />
    <%= f.text_field :openid_identifier %>
  </p>
  <p>
    <%= f.submit "Login" ,:disable_with => 'Loging in ...'%>
  </p>
<% end %>


